{% set layout = 'base.html.twig' %}

{% extends layout %}

{% block body %}
    {{ parent() }}
    <h1> A propos de We Movies! </h1>
    <div>
    {% for genre in genres %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="{{genre.id}}">
            <label class="form-check-label" for="{{genre.id}}">
                {{genre.name}}
            </label>
        </div>
    {% endfor %}
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Lire le détails</a>
        </div>
    </div>
{% endblock %}